{% extends 'base.html' %}
{% block title %} Create Post {% endblock %}

{% block content %}
<div class="container my-5">

  <h2 class="text-primary fw-bold fs-2 text-center">
    <i class="fa-solid fa-square-plus me-2"></i>
    Create your Social<span class="text-warning">Hub</span> Post
  </h2>

  <form class="card p-4 shadow-sm border-0" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- Image Upload -->
    <div class="form-group my-3">
      <label><i class="fa-solid fa-image me-2"></i> Upload Image</label>
      <input type="file" name="image" class="form-control" accept="image/*" required>
    </div>

    <!-- Description -->
    <div class="form-group my-3">
      <label><i class="fa-solid fa-pen-to-square me-2"></i> Description</label>
      <textarea name="description" rows="5" class="form-control" placeholder="Write something here..." required></textarea>
    </div>

    <!-- Submit -->
    <button class="btn btn-success form-control mt-3">
      <i class="fa-solid fa-upload me-2"></i> Create Post
    </button>
  </form>

</div>
{% endblock %}